.straight__line {
  border-top: 0.5px solid $backgroundGray-2;
  margin-bottom: 30px;
}

.campaignList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 105px;

  @include devices(tablet) {
    margin-bottom: 70px;
  }

  @include devices(miniTablet) {
    margin-bottom: 50px;
  }

  @include devices(mobile) {
    margin-bottom: 30px;
  }
}
