.footer {
  background-color: $backgroundGray-4;
  padding-top: 30px;

  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $backgroundWhite;
    border-radius: 111px;
    height: 222px;
    margin-top: 146px;
    margin-bottom: 107px;
    padding: 10px;

    @include devices(tablet) {
      height: 180px;
      margin-top: 100px;
    }

    @include devices(miniTablet) {
      height: 150px;
      margin-top: 80px;
      border-radius: 30px;
    }

    @include devices(mobile) {
      height: 140px;
      margin-top: 80px;
      border-radius: 15px;
    }

    &__image {
      margin-right: 30px;
      margin-left: 60px;
      padding-bottom: 150px;
      z-index: 2;

      @include devices(tablet) {
        margin-right: 15px;
        margin-left: 20px;
        height: 450px;
        margin-left: 30px;
      }

      @include devices(miniTablet) {
        display: none;
      }

      @include devices(mobile) {
        display: none;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;
      margin-right: 20px;

      &__upper {
        display: flex;
        align-items: center;
        margin-bottom: 27px;

        img {
          margin-right: 30px;

          @include devices(tablet) {
            height: 45px;
            margin-right: 5px;
          }

          @include devices(mobile) {
            height: 45px;
            margin-right: 10px;
          }
        }

        &__text {
          h4 {
            margin-bottom: 6px;
            font-size: 18px;

            @include devices(tablet) {
              font-size: 16px;
            }

            @include devices(miniTablet) {
              font-size: 16px;
            }

            @include devices(mobile) {
              font-size: 13px;
              margin-bottom: 2px;
            }
          }
          p {
            @include devices(mobile) {
              font-size: 13px;
              margin-bottom: 2px;
            }
          }
        }
      }

      &__lower {
        display: flex;
        align-items: center;
        justify-content: center;

        @include devices(tablet) {
          img {
            height: 45px;
          }
        }

        @include devices(miniTablet) {
          img {
            height: 40px;
          }
        }

        @include devices(mobile) {
          img {
            height: 35px;
          }
        }

        :nth-child(1) {
          margin-right: 11.5px;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;

    @include devices(tablet) {
      flex-direction: column;

      hr {
        display: none;
      }
    }

    @include devices(miniTablet) {
      display: flex;
      flex-direction: column;
      hr {
        display: none;
      }
    }

    @include devices(mobile) {
      display: flex;
      flex-direction: column;
      hr {
        display: none;
      }
    }

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-right: 40px;
      max-width: 454px;

      @include devices(tablet) {
        margin-bottom: 90px;
      }

      @include devices(miniTablet) {
        margin-bottom: 50px;
        margin-right: 20px;
      }

      @include devices(tablet) {
        max-width: 600px;
        margin-bottom: 50px;
        margin-right: 10px;
      }

      @include devices(mobile) {
        margin-bottom: 50px;
      }

      img {
        margin-bottom: 37px;
      }

      &__social {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 5px;

        img {
          margin-right: 31px;
          cursor: pointer;
        }
      }

      p {
        font-size: 15px;
        font-weight: normal;
      }
      span {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    hr {
      width: 1px;
      height: 200px;
      border-color: $borderGray;
    }

    &__right {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-left: 70px;

      @include devices(miniTablet) {
        flex-wrap: wrap;
        margin-left: 0px;
      }

      @include devices(mobile) {
        flex-wrap: wrap;
        margin-left: 0px;
      }

      &__subheading {
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        :last-child(last) {
          margin-right: 0;
        }

        @include devices(miniTablet) {
          flex: 40%;
          margin-right: 10px;
        }

        @include devices(mobile) {
          flex: 40%;
          margin-right: 10px;
        }

        h4 {
          color: $textBlue;
          font-size: 18px;
          text-align: center;
          font-weight: normal;
          margin-bottom: 10px;
        }

        ul {
          li {
            text-align: center;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: normal;
          }
        }
      }
    }
  }

  summary {
    text-align: center;
    margin: 0 150px 49px;
    font-size: 15px;

    @include devices(tablet) {
      margin: 0 0 10px;
      margin-right: 10px;
      font-size: 13px;
    }

    @include devices(miniTablet) {
      margin: 0 0 10px;
      margin-right: 10px;
      font-size: 12px;
    }

    @include devices(mobile) {
      margin: 0 0 10px;
      margin-right: 10px;
      font-size: 10px;
    }
  }

  &__copyright {
    text-align: center;
    padding: 20px 0;
    font-size: 13px;
  }
}
