.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  &__basket {
    background-color: $textBlue;
    border-radius: 28px;
    display: flex;
    padding: 15px 25px;
    cursor: pointer;
    border: none;

    &__icon {
      margin-right: 4px;
    }

    &__text {
      color: $backgroundWhite;
      font-size: 15px;
    }
  }
}
