.productList {
  margin-top: 30px;

  &__heading {
    display: flex;
    margin-bottom: 10px;

    &__image {
      margin-right: 6px;
    }

    &__text {
      font-size: 20px;
      color: $textGray;
      font-weight: 500;
    }
  }

  &__card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &__noProduct {
      font-size: 25px;
      margin: 20px 0;
      font-weight: 600;

      @include devices(miniTablet) {
        font-size: 20px;
      }

      @include devices(mobile) {
        font-size: 17px;
      }
    }
  }
}
