.search__container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundGray;
  border: 2px solid $backgroundGray-2;
  border-radius: 28px;
  padding: 19px 16px;
  width: 100%;
  margin-right: 224px;
  margin-left: 78px;

  @include devices(tablet) {
    margin-right: 80px;
    margin-left: 50px;
    padding: 15px 12px;
  }

  @include devices(miniTablet) {
    margin-right: 45px;
    margin-left: 30px;
    padding: 10px 8px;
    margin-bottom: 20px;
  }

  @include devices(mobile) {
    margin: 0 0 15px;
    padding: 10px 8px;
  }

  &__input {
    width: 100%;
    height: 31px;
    background-color: $backgroundGray;
    outline: none;
    border: none;
    padding: 0 7px;
    font-size: 15px;
  }

  &__button {
    background-color: $textGreen;
    color: $backgroundWhite;
    border: 2px solid #edf1f2;
    border-radius: 28px;
    cursor: pointer;
    padding: 8px 21px;
  }
}
