* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

ul,
li {
  list-style: none;
}

.container {
  padding-left: 220px;
  padding-right: 220px;
}
