$backgroundWhite: #ffffff;
$backgroundOrange: #ff5b4d;
$backgroundRed: #f54257;
$backgroundRed-2: #d01d32;
$backgroundGray: #f7f7f7;
$backgroundGray-2: #edf1f2;
$backgroundGray-3: #e6e6e6;
$backgroundGray-4: #f2f2f2;
$backgroundBlue: #e8f1ff;
$backgroundGreen: #e2f7e1;

$textBlack: #000000;
$textBlack-2: #555555;
$textGray: #707070;
$textGreen: #51b549;
$textBlue: #044dc3;
$textYellow: #ffce00;
$textOrange: #e37c33;
$textRed: #e64e41;

$borderGray: #9b9b9b;
$borderBlue: #e2e7e9;
$borderPink: #ffeae8;
$borderPink-2: #ffede0;
